
:root {
    --green: #473636;
    --white: #FFFFFF;
    --black: #000000;
  }


.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;

  }

.btn {
    content: 'Tace knapp';

    /*top: 20px;
    left: 250px; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black;
    color: var(--btnFontColor);
    background-color: var(--btnBg);

    display: block;

    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

  }

  .text {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }